<div class="card border-0 rounded-lg">
  <span class="badge badge-pill badge-light position-absolute m-3">${{this.price}}</span>
  {{!-- template-lint-disable no-inline-styles --}}
  <img class="card-img-top object-fit-scale-down object-position-center" src={{@item.imageUrl}} alt={{@item.name}} style="max-height: 200px;">
  {{!-- template-lint-enable no-inline-styles --}}
  <div class="card-body">
    {{#if this.purchased}}
      <p class="text-success text-center">Purchase Complete. Your item is now in your wallet.</p>
    {{/if}}
    {{#if this.error}}
      <p class="text-danger">{{this.error.message}}</p>
    {{/if}}
    <p class="card-title lead">{{@item.name}}</p>
    <p class="card-text small mb-4">{{@item.description}}</p>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary btn-lg" {{on "click" this.buy}}>Buy Now</button>
    </div>
  </div>
</div>