<MainJumbotron class="mt-5" />
{{#if this.showProcessing}}
  <div class="fixed-top w-100 h-100 d-flex justify-content-center align-items-center" aria-live="polite" aria-atomic="true">
    {{!-- template-lint-disable no-inline-styles --}}
    <div class="toast rounded-lg fade bounce-in {{unless this.fadeOutComplete "show"}}" style="width: 545px;">
    {{!-- template-lint-enable no-inline-styles --}}
      <div class="toast-header justify-content-center">
        <p class="h2 font-weight-bolder text-green mb-0">
          {{#if this.showComplete}}
            {{#if this.brandedLogin}}
              <LinkTo @route="items" class="text-green">Complete! View in Wallet</LinkTo>
            {{else}}
              <a href="https://wallet.bitski.com" class="text-green">Complete! View in Wallet</a>
            {{/if}}
          {{else}}
            Purchase Processing
          {{/if}}
        </p>
      </div>
    </div>
  </div>
{{/if}}
<div class="grid grid-row grid-cols-md-2 grid-cols-lg-3 w-100 mt-5 mb-auto">
  {{#each this.model as |item|}}
    <InventoryItem @onProcessing={{this.onProcessing}} @onComplete={{this.onComplete}} @onShowCheckoutForm={{this.onShowCheckoutForm}} @item={{item}} />
  {{/each}}
</div>
<h2 class="mt-5 pt-4 mb-3 font-weight-bolder">This demo features:</h2>
<div class="d-md-flex">
  <div class="w-md-50">
    <a href="https://docs.bitski.com/app-wallet/" class="btn btn-secondary btn-color mr-2 mb-2">Bitski Enterprise Wallet</a>
    <a href="https://github.com/BitskiCo/example-stripe-nft" class="btn btn-secondary btn-color mr-2 mb-2">Merchant Account Integration</a>
    <a href="https://github.com/BitskiCo/example-stripe-nft" class="btn btn-secondary btn-color mr-2 mb-2">Purchase NFT Via Credit Card</a>
    {{#if this.brandedLogin}}
      <a href="https://docs.bitski.com/whitelabel-wallet/" class="btn btn-secondary btn-color mr-2 mb-2">Bitski Whitelabel Wallet</a>
    {{else}}
      <a href="https://docs.bitski.com/getting-started/" class="btn btn-secondary btn-color mr-2 mb-2">Bitski User Wallet</a>
    {{/if}}
  </div>
  <button id="intercom" type="button" class="btn btn-secondary font-weight-bolder btn-color rounded-lg btn-lg h3 text-xlg p-3 p-md-4 d-flex align-items-center ml-md-auto my-auto letter-spacing-sm">
    <svg class="btn-color ml-2 mr-4" fill="none" height="36" viewBox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"><path d="m17.9963 0c-9.93394 0-17.9963 7.19854-17.9963 16.1967.0269027 2.1634.509917 4.2968 1.41749 6.2608.90757 1.964 2.21928 3.7144 3.84944 5.1369l-.4679 7.3905c-.00837.1743.03156.3476.11537.5006.08382.1531.20828.2801.35965.3669.15137.0869.32379.1303.49824.1254s.34417-.0579.49044-.1531l6.29877-4.1991c1.7672.5068 3.5964.7652 5.4348.7678 9.934 0 17.9964-7.1985 17.9964-16.1967 0-8.99816-8.0624-16.1967-17.9964-16.1967z"/></svg>
    <span class="pr-5">Chat With Us</span>
  </button>
</div>
<ModalDialog @title="Add Credit Card" @isVisible={{this.showCheckoutForm}} @onClose={{this.onHideCheckoutForm}}>
  <CheckoutForm @onProcessing={{this.onProcessing}} @onComplete={{this.onComplete}} @item={{this.selectedItem}}/>
</ModalDialog>